.containerClientes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    font-family: Arial, sans-serif;
    padding: 40px;
    width: 50vw;
}

.busca,
.cadastro {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 1em;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #d32f2f;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #b71c1c;
}

.formContainer {
    display: flex;
    gap: 2em;
    width: 50vw;
}

.modal {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: #ffeaea;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;
    /* Ajuste para garantir que a altura seja adequada ao conteúdo */
    box-sizing: border-box;
}

.clientImage {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clientImage img {
    width: 150px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
}

.clientDetails {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.clientName,
.clientData,
.clientInfo,
.clientAddress,
.clientSpecification {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.clientName>label,
.clientData>div label,
.clientInfo>div label,
.clientAddress>div label,
.clientSpecification>div label {
    margin-bottom: 5px;
    font-size: 14px;
}

.clientData,
.clientInfo,
.clientAddress,
.clientSpecification {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.buttonsClient {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.buttonsClient button {
    width: 45%;
}

