.containerClientes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1em
}
.modal{
    display: flex;
    flex-direction: column;
    gap:1em
}
.inputClient{
    display: flex;  
    height: 2em;
    background: red;
    align-items: center;
}
.inputClient>label{
    width: 6em;
}
.inputClient>input{
    border: none;
    background: transparent;
}


.clientName>input{
    padding-left: 0.5em;
    height: 1.5em;
    font-size: large;
    border-radius: 0.5em;
}
.clientData,
.clientInfo,
.clientCode,
.clientAddress,
.clientSpecification{
    display: flex;
    justify-content: space-between;
    gap:0.5em
}
.clientName,
.clientData>div,
.clientCode>div,
.clientInfo>div,
.clientAddress>div,
.clientSpecification>div{
    display: flex;
    flex-direction: column;
}
.clientName>label,
.clientData>div label,
.clientInfo>div label,
.clientCode>div label,
.clientAddress>div label,
.clientSpecification>div label{
    padding: 0 0.5em;
    font-size: small;
}
.clientData> div input,
.clientInfo> div input,
.clientAddress>div input,
.clientSpecification>div input{
    padding-left: 0.5em;
    height: 1.5em;
    width: 10em;
    border-radius: 0.5em;
    
}
#email{
    width:34em
}
#complement{
    width: 16rem;
}
#referencePoint{
    width: 22rem;
}

.buttonsClient{
    display: flex;
    justify-content: center;
    margin-top: 3em;
    gap:3em
    
}
.buttonsClient button{
    width: 10rem;
    border-radius: 2em;
    height: 3em;
    border: none;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}
.buttonsClient button:first-child{
    
    border:1px solid red;
    color: red;
    transition: all 0.2s;
}
.buttonsClient button:last-child{
    border: 1px solid green;
    color:green;
    transition: all 0.2s;
}
.buttonsClient button:first-child:hover{
    background: red;
    color: white;
    transition: all 0.2s;
}
.buttonsClient button:last-child:hover{
    background: green;
    color: white;
    transition: all 0.2s;
}
@media (max-width:700px) {
    .modal{
        width: 70%;
    }
    #email{
        width: auto;
    }
    #referencePoint{
        width: auto;
    }
    #complement{
        width: auto;
    }
    .clientData,
.clientInfo,
.clientCode,
.clientAddress,
.clientSpecification{
    display: flex;
    flex-direction: column;
}
}   