.homeContainer{
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.logoHome{
    height: 60%;

}

@media (max-width:650px ) {
    .homeContainer{
        flex-direction: column;
    }
    .homeContainer h1{
        width: 60%;
        text-align: center;
    }
    .logoHome{
        height: 40%;
    
    }
}