.containerLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 2rem;
}
.containerLogin>button{
    width: 5rem;
    height: 2rem;
    font-size: large;
    color: white;
    background: rgba(233, 88, 88, 0.897);
    border: none;
    border-radius: 0.5rem;
    cursor:pointer
}
.containerLogin>button:hover{
    opacity: 0.7;
}
.containerForm{
    padding: 0 1rem;
}
.containerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerForm>h3{
    margin-top: -1rem;
    font-size: xx-large;
    color:red
}
.containerForm>p{
    margin-top: -2rem;
}

.contentForm{
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 15vw;
    gap:1rem
}
.contentForm>div{
    display: flex;
    align-items: center;
    gap:1rem;
    padding: 0.5rem;
    background: #EDF2F7;
    border-bottom: 1px solid red;
}
.contentForm>div input{
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    
}
.contentForm>button{
    border: 1px solid red;
    color: red;
    height: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
}
.contentForm>button:hover{
    color:white;
    background: red;
    transition: all 0.2s;
}
.imageLogin{
    display: flex;
    margin: 2rem auto;
    width: 5rem;
}

.modalDiv{
    border-bottom: 2px solid blue;
}