.App{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* Aqui faz com que o content fique sempre no meio, e ocupe a maior parte do view */
.App > .content{
    flex-grow: 1;
    display: flex;
    justify-content: center;

}
