.OrderIDContainer{
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


  .sigCanvas{
    border: 1px solid #ccc; /* Adiciona uma borda */
    padding:0.2rem;
    width: 30rem;
    height: 15rem,
  }

  .signature img{
    width: 30rem;
    height: 15rem,

}
  @media (max-width:550px ) {
    .OrderIDContainer{
        height: 50%;
        
    }
    .sigCanvas{
        width: 22rem;
        height: 7.5rem,
    }
    .signature img{
        width: 20rem;
        height: 7.5rem,
    }

}